<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kampovilasttry.Properties.Settings.npeterman_DBConnectionString"
            connectionString="Data Source=31.147.204.119\PISERVER,1433;Initial Catalog=npeterman_DB;User ID=npeterman;Password=SY&amp;$1!WH"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>